<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> {% block titulo %} {% endblock %}</title>
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('manejar_libros') }}">Libros</a></li>
                <li><a href="{{ url_for('manejar_usuarios') }}">Usuarios</a></li>
                <li><a href="{{ url_for('gestionar_prestamos') }}">Prestramos</a></li>
            </ul>
        </nav>
    </div>


    {%block contenido %} 
    


    {% endblock %}
</body>
</html>